.simple-little-table2 {
    margin-bottom:15px;
    margin-right:15px;
    vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:#eaebec;
	border:#ccc 1px solid;
	border-collapse:separate;
    
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
    width:auto;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
 
.simple-little-table2 th {
	font-weight:bold;
	padding:15px 15px 15px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
 
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
    color:black;
}
.simple-little-table2 th:first-child{
	text-align: left;
	padding-left:20px;
    color:#e54a1a;
    width:auto;
}
.simple-little-table2 tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.simple-little-table2 tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.simple-little-table2 tr{
	text-align: center;
	padding-left:20px;
}
.simple-little-table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.simple-little-table2 tr td {
	padding:10px 5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table2 tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table2 tr:last-child td{
	border-bottom:0;
}
.simple-little-table2 tr td:first-child{
	color:black;
}
.simple-little-table2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple-little-table2 tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple-little-table2 tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.anavAdmin{
    padding:10px 20px;
    display: block;
    color:#26b;
    font-size: 16px;
}
.liNavAdmin{
    list-style: none;
    display:inline-block;
    border:1px solid gray;
    background:rgba(255,255,255,1);
    cursor:pointer;
    margin-right:2px;
}
.liNavAdmin:hover{
    background:#26b;
    color:white;
}
.liNavAdmin:hover .anavAdmin{
    color:white;
}