@media (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}	
	nav .container-fluid{
		padding-left: 0;
	}	
	.navbar-default .navbar-brand{
		color: #008080;
		background: #fff;
	}
	.padding-bottom{
		padding-bottom: 15px;
	}
	.padding{
		padding: 15px;
	}
	.padding-right-0{
		padding-right: 0;
	}
	.padding-left-0{
		padding-left: 0;
	}	
	.img-advert{
		padding: 0;
		margin: 15px;
		background: #0ABAB5;
		border: 1px solid #0ABAB5;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
	}
}
@media (min-width: 320px) and (max-width: 767px){
	.navbar-default .navbar-brand{
		color: #fff;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 16px;
	}
	.padding, .padding-left-0, .padding-right-0{
		padding: 15px 0;
	}
	.xs-padding-right-left-hidden{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #fff;
	}	
	.img-advert{
		padding: 0;
		margin: 15px 0;
		background: #0ABAB5;
		border: 1px solid #0ABAB5;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
	}
}