@import url('//fonts.googleapis.com/css?family=Comfortaa');
@import url('//cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css');
@import url(media.css);

body {
    font-family: 'Comfortaa', cursive;
    color: #32373c;
}

h1, h2, h3, h4, h5, .ui.steps .step .title {
    font-family: 'Comfortaa', cursive;
}

.basket_show .tab-content .card .blurring.dimmable.image img {
    width: 172px;
    height: 172px;
}

.combo .photo-advert, .basket_show .photo-advert {
    height: 73px;
}

.photo-advert {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 3px solid #fff;
}

.anketa {
    margin-top: 15px;
    background-color: rgba(1, 105, 54, .6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 165, 134, .6);
    border-radius: 6px;
}

footer .icons img {
    background: none;
    box-shadow: none;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: rgba(255, 255, 255, .6);
}

.pagination {
    border-radius: 6px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0abab5;
    border-color: #0abab5;
}

.pagination > li > a, .pagination > li > span {
    border: none;
    color: #0abab5;
}

.icons img {
    background-color: #0ABAB5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
    border-radius: 50%;
}

.icons {
    padding: 0 6px;
}

.icons:hover {
    z-index: 1;
}

.info .glyphicon {
    font-size: 72px;
}

.info {
    padding: 15px;
}

.body {
    margin-top: 65px;
    max-width: 1440px;
}

.btn {
    border-radius: 6px;
}

.advert_page .carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 290px;
    height: 290px;
}

.form-control {
    border-radius: 6px;
}

.input-group-btn > .btn, .cityPage .btn.btn-default, .combo .btn.btn-default {
    background: #0ABAB5;
    color: #fff;
    text-shadow: 0 1px 0 #008080;
    border-color: #0ABAB5;
}

.services_by_filter .btn.btn-default, .basket_show .btn.btn-default, .bakyt .btn.btn-default {
    background: #fff;
    color: #0ABAB5;
    text-shadow: 0 1px 0 #fff;
    border-color: #fff;
}

.basket_show label, .bakyt label {
    color: #fff;
}

.basket_show form, .bakyt form {
    padding: 15px;
    background: #0abab5;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
}

.input-group-btn > .btn:hover {
    background: rgba(102, 179, 179, .6);
    text-shadow: 0 1px 0 #0ABAB5;
    border-color: #0ABAB5;
}

.combo .nav-tabs {
    border: 1px solid #0ABAB5;
}

.combo .nav-tabs > li > a {
    color: #0ABAB5;
}

.combo .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 1px solid #0ABAB5;
}

.combo .nav-tabs > li > a:hover {
    border-color: #0ABAB5;
}

.combo .nav > li > a:focus, .nav > li > a:hover {
    background-color: #0ABAB5;
    color: #fff;
}

.cityPage .ui.small.image:hover {
    background: #0abab5;
}

.cityPage .ui.icon.button > .icon {
    width: 109px;
    height: 109px;
    font-size: 54px;
    line-height: 109px;
    color: #464b50;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.cityPage .ui.massive.button {
    background: rgba(210, 213, 216, .6);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.cityPage .ui.massive.button:hover {
    background: transparent;
}

.cityPage .ui.massive.button:hover .ui.circular.button {
    background: #0abab5;
}

.cityPage .ui.massive.button:hover .ui.icon.button > .icon {
    color: #fff;
}

.cityPage .ui.circular.button {
    background: rgba(187, 191, 194, .6);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.btn-lg {
    background: #66a586;
    border: 6px #fff;
    color: #fff;
}

.btn-lg:hover {
    border-color: rgba(255, 255, 255, .6);
    background: rgba(102, 165, 134, .6);
    color: rgba(255, 255, 255, .6);
}

.navbar-default {
    background: #0ABAB5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
    border-radius: 0;
    border: none;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    right: 15px;
    left: 15px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background: rgba(255, 255, 255, .6);
    color: #008080;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background: rgba(255, 255, 255, .6);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #0ABAB5;
}

video {
    width: 100%;
    background: #0ABAB5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
    border-radius: 6px;
}

.input-group-addon {
    background-color: #66a586;
    color: #fff;
    border: 1px solid #66a586;
    border-radius: 0;
}

.content img {
    width: 60%;
    border-radius: 50%;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(110, 171, 176, .6);
    margin-bottom: 15px;
}

div .ui.steps {
    border: none;
}

div .ui.steps .step {
    border-right: none;
}

div .ui.steps .step:after {
    border-color: #6eabb0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background: #0ABAB5;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: #0ABAB5;
    color: #fff;
}

.main_page h1:first-letter {
    color: rgba(0, 160, 160, 1);
    font-size: 24px;
}

.ui.steps .link.step:hover, .ui.steps .link.step:hover::after, .ui.steps a.step:hover, .ui.steps a.step:hover::after {
    background: rgb(239, 240, 240);
}

.input-group[class*=col-] {
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(110, 171, 176, .6);
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-toggle {
    background-color: rgba(255, 255, 255, .6);
    float: left;
    margin-right: 9px;
    margin-left: 9px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.padding-bottom-always {
    padding-bottom: 15px;
}

.activeAdvert {
    background: #16ab39;
    border-radius: 6px;
}

.activeAdvert .ui.basic.green.button, .ui.basic.green.buttons .button {
    background-color: #16ab39 !important;
    color: #FFF !important;
    text-shadow: none !important;
}

.padding-0-always {
    padding: 0;
}

.ui.small.image {
    width: 290px;
    background: transparent;
}

.cityPage .ui.buttons .or:before {
    content: '';
    background-color: transparent;
}

.cities-block .col-sm-2 {
    padding: 15px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 6px 0 0 6px;
}

.ui.cards .card {
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 15px auto;
    float: none;
    max-width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 290px;
    min-height: 0;
    background: #FFF;
    padding: 0;
    border: none;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    -webkit-transition: box-shadow .1s ease, -webkit-transform .1s ease;
    transition: box-shadow .1s ease, -webkit-transform .1s ease;
}

.ui.cards .card a {
    cursor: pointer;
}

.ui.cards .card > .content > .header {
    display: block;
    font-family: inherit;
    color: rgba(0, 0, 0, .85);
}

.ui.cards .card > .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    background: 0 0;
    margin: 0;
    padding: 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}

.ui.cards .card > .content a:not(.ui) {
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.ui.cards .card > .content > .header:not(.ui) {
    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
}

.ui.cards .card > .content > a.header {
    color: rgba(0, 0, 0, .85);
}

.ui.cards .card > :first-child {
    border-radius: .28571429rem .28571429rem 0 0 !important;
    border-top: none !important;
}

.ui.cards .card > :last-child {
    border-radius: 0 0 .28571429rem .28571429rem !important;
}

.ui.cards .card > .image {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    background: rgba(0, 0, 0, .05);
}

.ui.cards .card .dimmer {
    z-index: 10;
}

.ui.cards .card .meta > a:not(.ui) {
    color: rgba(0, 0, 0, .4);
}

.ui.cards .card .meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.ui.cards .card > .image:not(.ui) > img {
    width: 290px;
    height: 290px;
}

.cities-block img {
    border: 1px solid rgba(102, 179, 179, .6);
    border-radius: 50% !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #0abab5;
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
    background-color: rgba(10, 186, 181, .6);
}

footer {
    background: #0ABAB5;
    color: #fff;
    margin-top: 15px;
}

.main_page-ad {
    display: none;
}

.margin-top-always {
    margin-top: 15px !important;
}

.margin-bottom-always {
    margin-bottom: 15px !important;
}

.ui.steps .step {
    background: transparent;
}

.ui.cards .card > .image:not(.ui) > img {
    width: 290px;
    height: 290px;
    border: none;
}

.ui.cards .card > .image > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

a {
    cursor: pointer;
}

.ui.image img, .ui.image svg {
    border: 1px solid rgba(102, 179, 179, .6);
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 1px 5px rgba(102, 179, 179, .6);
}

.ui.cards {
    margin: 0;
}

.ad:hover {
    opacity: .6;
}